.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.main {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 70px; /* Space for TabBar */
}